<configuration>
  <system.webServer>

    <handlers>
      <add name="iisnode" path="app.js" verb="*" modules="iisnode" />
    </handlers>

    <rewrite>
      <rules>
        <rule name="sendToNode">
          <match url="/*" />
          <action type="Rewrite" url="app.js" />
        </rule>
      </rules>
    </rewrite>
<iisnode
      watchedFiles="*.js;node_modules\*;views\*.ejs" 
nodeProcessCommandLine="\program files\nodejs\node.exe" />

  </system.webServer>
</configuration>