.userSelected {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.pageContainer {
  box-sizing: content-box;
  min-height: calc(100vh);
  min-width: calc(100vw);
}

.headerContainer {
  position: relative;
  z-index: 2;
  margin-top: 5px;
  display: flex;
  flex: 1;
  flex-direction: row;
}

.headerNotificationContainer {
  background-color: #161616;
  padding: 10px;
  position: absolute;
  width: 420px;
  top: 10px;
  max-height: 360px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  right: 40px;
  z-index: 7;
  display: flex;
  flex-direction: column;
}

.headerLeftNotificationTitle {
  flex-direction: row;
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}

.headerLeftNotificationBell {
  margin: 5px;

}

.headerLeftNotificationTitle h3 {
  color: #fff;
  padding-bottom: 10px;
}

.headerNotificationLeftCol {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.headerNotificationIcons {
  display: flex;
  padding: 10px 15px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-top: 5px;
  color: rgba(255, 255, 255, 0.50);
}

.headerNotificationIconContainer {
  margin-bottom: 10px;
  flex: 1;
  display: flex;
  background-color: #181818;
  border-radius: 5px;
  flex-direction: row;
  justify-content: center;
}

.headerNotificationRightCol {
  padding: 10px;
  display: flex;
  flex: 1;
  overflow-y: scroll;
}

.headerNotificationRightCol::-webkit-scrollbar {
  width: 0;
}

.headerNotificatonIconLine {
  width: 2px;
  height: 100%;
  position: relative;
  background-color: rgba(255, 255, 255, 0.50);
}

.headerSearchContainer {
  flex: 1;
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  z-index: 6;
}

.headerSearchText {
  outline: 0;
  border: 0;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  width: 345px;
  padding-left: 10px;
  background-color: transparent;

}

.headerSearchResultContainer {
  background-color: #161616;
  padding: 10px;
  position: absolute;
  width: 420px;
  top: 58px;
  max-height: 460px;
  overflow-y: scroll;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

.headerSearchResultContainer::-webkit-scrollbar {
  width: 0;
}

.headerRight, .headerLeft {
  flex: 1;
  margin-right: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.headerLeftContent {
  justify-content: flex-start;
  margin-left: 10px;
}

.headerLeft ul, .headerRight ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.headerLeft ul li, .headerRight ul li {
  float: left;
}

.headerLeft ul li a, .headerRight ul li a {
  padding: 10px 10px;
  color: rgba(255, 255, 255, 0.6);
  display: block;
  cursor: pointer;
}

.headerLeft ul li a:hover, .headerRight ul li a:hover {
  color: rgba(255, 255, 255, 0.9);
}



.homeSliderContainer {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), linear-gradient(90.16deg, rgba(0, 0, 0, 0.5) 50.68%, rgba(0, 0, 0, 0) 70.09%);
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.homeSliderDescription {
  height: 200px;
  max-height: 350px;
  max-width: 400px;
  z-index: 2;
  position: absolute;
  bottom: 55px;
  left: 30px;
  padding: 10px;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.homeSliderDescriptionContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 30px;
}

.homeSliderDescriptionTitle {
  font-size: 20px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.75);
}

.homeSliderDescriptionContent {
  font-size: 15px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.75);
}

.playButons {
  position: relative;
  top: 5px;
  margin-left: 10px;
  height: 25px;
  width: 25px;
}

.sliderButonsContainer {
  position: absolute;
  right: 30px;
  padding: 5px;
  bottom: 50px;
  max-height: 350px;
  overflow-y: scroll;
}

.sliderButonsContainer::-webkit-scrollbar {
  width: 0px;
}

.sliderButons {
  cursor: pointer;
  height: 40px;
  width: 12px;
  margin-top: 10px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.75);
}




.homePage2 {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background: url('http://localhost:3000/homePage2.jpeg');

  background-repeat: no-repeat;
  background-size: cover;
}

.leftContainer {
  position: absolute;
  font-weight: 400;
  padding: 100px 30px;
  color: rgba(255, 255, 255, 0.75);
  font-size: 35px;
}

.rightContainer {
  position: absolute;
  right: 0;
  font-weight: 400;
  padding: 100px 30px;
  color: rgba(255, 255, 255, 0.75);
  font-size: 35px;
}

.children {
  position: absolute;
  width: 500px;
  height: 100%;
  left: 483.5px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), rgba(24, 24, 24, 0.01), url('http://localhost:3000/children.png');
  /* backdrop-filter: blur(1.5px); */
}

.newEpisodesContainer {
  position: relative;
  display: flex;
  flex: 1;
  top: 250px;
  overflow-x: scroll;
  max-width: 500px;
  margin-right: 10px;
}

.newEpisodesContainer::-webkit-scrollbar {
  height: 0;
}

.new2EpisodesContainer {
  position: relative;
  display: flex;
  flex: 1;
  top: 350px;
  margin-right: 10px;
  max-width: 490px;
  overflow-x: scroll;
}

.new2EpisodesContainer::-webkit-scrollbar {
  height: 0;
}

.homePage2Footer {
  flex: 1;
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.row {
  display: flex;
  flex-direction: row;
}

.leftFooter {
  flex-direction: column;
  display: flex;
  padding: 10px;
  flex: 1;
}

.leftFooterInfo {

  display: flex;
  height: 190px;
  padding: 10px;
  width: 77%;
}

.footerSocialInfo {
  position: relative;
  left: 160px;
  width: 230px;
  height: 60px;
  bottom: 40px;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.footerSocialInfo span {
  padding: 5px 7px;
}

.footerContentInfo {
  color: rgba(255, 255, 255, 0.75);
  position: relative;
  left: 185px;
  width: 230px;
  height: 120px;
  top: 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contentText h5 {
  letter-spacing: 1px;
  line-height: 20px;
}

.contentText h4 {

  margin-bottom: 10px;
}

.rightFooterInfo {
  display: flex;
  flex: 1;
  padding: 10px;
}

.rightFooter {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-end;
  padding: 10px;
}

.rightFooterContainer {
  justify-content: flex-end;
}

.nextBackButon {
  padding: 5px;
  color: rgba(255, 255, 255, 0.50);
  cursor: pointer;
}

.nextBackButon:hover {
  color: #fff;
}


.topEpisodeContainer {
  position: relative;
  display: flex;
  flex: 1;
  top: 250px;
  overflow-x: scroll;
  max-width: 600px;
}

.topEpisodeContainer::-webkit-scrollbar {
  height: 0;
}

.top2EpisodeContainer {
  position: relative;
  display: flex;
  flex: 1;
  top: 350px;
  margin-left: 0px;
  overflow-x: scroll;
  max-width: 500px;

}

.top2EpisodeContainer::-webkit-scrollbar {
  height: 0;
}

.archiveBackground {
  background-image: url('http://localhost:3000/archive.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  box-sizing: content-box;

}

.childrenContainer {
  position: relative;
  margin-left: 41%;
  top: 84px;
  z-index: 200;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 445px;
}

.childrenMangaText {

  position: absolute;
  font-weight: 400;
  font-size: 32px;
  color: rgba(255, 255, 255, 0.85);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.childrenMangaTextAnimation {
  animation: mangaTextAnimation 1s ease-in-out forwards;
}

.childrenContainer img {
  width: 445px;
  height: 830px;
}

.archiveContainer {
  height: calc(100vh);
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.menuContainer {
  height: 33px;
  display: flex;
  flex-direction: row;
}

.leftMenuContainer {
  flex: 1;
  display: flex;
}

.rightMenuContainer {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.menuButon {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  background: #282828;
  color: #fff;
  border-radius: 7px 7px 0px 0px;
  margin-top: 1px;
  cursor: pointer;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.downMenuButon {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  background: #202020;
  color: #fff;
  border-radius: 7px 7px 0px 0px;
  margin-top: 1px;
  cursor: pointer;
  margin-left: 10px;
  width: 130px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 30;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

}

.butonButonShadown {
  box-shadow: 0px 7px 4px rgba(0, 0, 0, 0.25), 8px 0px 4px #000000;
  border: 1px solid #000000;
}

.contentContainer {
  border-radius: 0px 0px 7px 7px;
  max-height: 750px;
  gap: 2px;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(148px, 1fr));
  justify-content: center;
  background: #141414;
  overflow-x: auto;
}

.contentContainer::-webkit-scrollbar {
  width: 0px;
}

.contentContainer::-webkit-scrollbar-track {
  background-color: #141414;
}

/* Handle */
.contentContainer::-webkit-scrollbar-thumb {
  background-color: #141414;
}


.filterBlur {
  filter: blur(2.5px);
}

.borderButon {
  padding: 5px;
  border: 1px solid rgba(255, 255, 255, 0.65);
  border-radius: 7px;
  color: #fff;
  font-weight: 400;
  min-width: 130px;
  margin-bottom: 10px;
  margin-right: 10px;
  cursor: pointer;
  text-align: center;
}

.infoModalDescriptionModal {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  right: 0;
  top: 150px;
  z-index: 0
}

.infoModalCloseContainer {
  margin-right: 10px;
  margin-top: 5px;
  cursor: pointer;
}

.infoModalContent {
  width: 730px;
  background-color: #181818;
  border-radius: 7px;
}

.infoHeaderContainer {
  margin: 20px 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.infoLineContainer {
  display: flex;
  flex: 1;
  color: #fff;
  align-items: center;
  justify-content: center;
}

.line {
  width: 100px;
  height: 2px;
  background: #fff;
  opacity: .5
}

.bodyContainer {
  text-align: justify;
  margin: 15px;
  padding: 5px;
  font-size: 14px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.65)
}

.titleContainer {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  color: #fff;
  flex-direction: column;
}

.footerContainer {
  display: flex;
  flex: 1;
  margin: 20px;
  cursor: pointer;
  flex-direction: row;
  justify-content: space-between;
}

.archiveMovieCoverContainer {
  height: 230px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.archiveMovieCoverImg {
  cursor: pointer;
  border: 0;
  height: 218px;
  width: 145px;
  margin-top: 10px;
  margin-right: 20px;
}

.archiveMovieCoverImgFilter {
  cursor: pointer;
  border: 0;
  height: 218px;
  width: 145px;
  margin-top: 10px;
  margin-right: 20px;
  filter: blur(2.5px);
}

.searchResultCard {
  display: flex;
  flex: 1;
  flex-direction: row;
  padding: 5px;
}

.searchResultImg {
  display: flex;
}

.searchResultImg img {
  height: 102px;
  width: 78px;
  border-radius: 7px;
  opacity: .65;
}

.searchResultContent {
  flex: 1;
  display: flex;
  margin-left: 10px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.searchContentButon {
  width: 140px;
  border-radius: 7px;
  height: 30px;
  margin-right: 10px;
  text-align: center;
  color: #fff;
  padding: 5px 10px;
  font-size: 13px;
  background-color: #1C1C1C;
  border: 1px solid #232323;
}

.filterBlurBackground {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 12;
  backdrop-filter: blur(2.5px);
}

.homeBg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.loginModal, .registerModal {
  position: absolute;
  left: 0;
  right: 0;
  top: 100px;
  z-index: 15;
  justify-content: center;
  align-items: center;
  display: flex;
}

.loginContainer, .registerContainer {
  width: 450px;
  border-radius: 7px;
  background-color: #161616;
  -webkit-box-shadow: -1px 2px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 2px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 2px 5px 0px rgba(0, 0, 0, 0.75);
}

.loginHeader, .registerHeader {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.loginClose {
  margin: 10px;
  cursor: pointer;
}

.loginContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  flex-direction: column;
  padding-bottom: 70px;
}

.registerContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  flex-direction: column;
}

.registerBody {
  margin: 0px 30px;
  padding-bottom: 70px;
}

.textInput {
  min-width: 300px;
  max-width: 100%;
  background: #1A1A1A;
  border: none;
  outline: 0;
  color: #fff;
  padding: 10px 10px;
  margin-bottom: 10px;
  border-radius: 7px;
}

.registerInput {
  min-width: 100%;
  width: 350px;
  background: #1A1A1A;
  border: none;
  outline: 0;
  color: #fff;
  padding: 10px 10px;
  margin-bottom: 10px;
  border-radius: 7px;
  resize: none;
}

.smallInput {
  width: 78px !important;
}

.datePickerInput {
  width: 190px !important;
  background: #1A1A1A;
  border: none;
  outline: 0;
  color: #fff;
  padding: 10px 10px;
  margin-bottom: 10px;
  border-radius: 7px;
}

.registerLeftCol {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}

.registerRightCol {
  display: flex;
  margin-left: 10px;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}

.logoContainer {
  height: 150px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;

}


.logoContainer img {
  border-radius: 100%;
  height: 150px;
  width: 150px;
}

.loginButon {
  margin-top: 20px;
  width: 200px;
  height: 30px;
  background-color: #1A1A1A;
  border: none;
  border-radius: 7px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 15px;
  cursor: pointer;
}

.registerButon {
  margin-top: 20px;
  width: 200px;
  height: 30px;
  background-color: #1A1A1A;
  border: none;
  border-radius: 7px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 15px;
  cursor: pointer;
}

.loginOrRegister {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}

.orText {
  color: rgba(255, 255, 255, 0.50);
  margin: 0px 10px;
  font-size: 14px;
}

.registerCol {
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 15;
  justify-content: center;
  align-items: center;
  display: flex;
}

.modalContainer {
  width: 750px;
  border-radius: 7px;
  background-color: #161616;
  -webkit-box-shadow: -1px 2px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 2px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 2px 5px 0px rgba(0, 0, 0, 0.75);
}

.modalHeader {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.modalClose {
  margin: 10px;
  cursor: pointer;
}

.messageModal {
  position: absolute;
  left: 0;
  right: 0;
  top: 100px;
  z-index: 15;
  justify-content: center;
  align-items: center;
  display: flex;
}

.selectedMessageContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
}

.messageContainer {
  width: 750px;
  border-radius: 7px;
  height: 600px;
  display: flex;
  flex-direction: column;
  background-color: #161616;
  -webkit-box-shadow: -1px 2px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 2px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 2px 5px 0px rgba(0, 0, 0, 0.75);
}

.messageBody {
  margin: 0px 10px;
  display: flex;
  flex: 1;
  flex-direction: row;
}

.messageUsers {
  flex: .5;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  max-height: 540px;
}

.searchContainer {
  margin-bottom: 10px;
}

.defaultSearch {
  background: #1A1A1A;
  border: 0;
  outline: 0;
  border-radius: 7px;
  color: rgba(255, 255, 255, 0.50);
  padding: 10px;
  width: 100%;
}

.defaultInput {
  background: #1A1A1A;
  border: 0;
  outline: 0;
  border-radius: 7px;
  color: rgba(255, 255, 255, 0.50);
  padding: 10px;
  width: 100%;
}

.defaultTextare {
  background: rgba(255, 255, 255, 0.03);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 7px;
  resize: none;
  height: 510px;
}

.contactInput {
  height: 30px;
  margin-bottom: 10px;
  background: rgba(255, 255, 255, 0.03);
  border: 1px solid rgba(255, 255, 255, 0.25);
}

.messageOptions {
  margin: 10px;
  display: flex;
  height: 30px;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.50);
}

.messageUserName {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.50);
}

.messageUsers::-webkit-scrollbar {
  width: 0;
}

.messageUserCard {
  margin-bottom: 5px;
  padding: 10px 5px;
  display: flex;
  width: 100%;
  flex-direction: row;
  background-color: #141414;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.50);
}

.messageUserCardInfo {
  color: rgba(255, 255, 255, 0.50);
  margin-left: 5px;
  font-size: 13px;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  flex-direction: column;
}

.messageSummary {
  line-height: 30px;
  color: rgba(255, 255, 255, 0.50);
  font-size: 12px;
}

.messageUserCardImg {
  height: 40px;
  width: 40px;
  border-radius: 100%;
}

.messageMainContainer {
  margin-left: 5px;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.messageContent {
  margin-left: 5px;
  flex: 1;
  overflow-y: scroll;
  max-height: 410px;
  display: flex;
  flex-direction: column;
}

.messageContent::-webkit-scrollbar {
  width: 0;
}

.messageHeader {
  display: flex;
  justify-content: flex-end;
}

.messageClose {
  margin: 10px;
  cursor: pointer;
}

.messageCard {
  justify-content: center;
  padding: 10px;
  margin: 10px 0px;
  border-radius: 2px;
  display: flex;
  max-width: 400px;
  flex-direction: row;
}

.messageCardRight {
  justify-content: center;
  padding: 10px;
  margin-left: 40px;
  border-radius: 2px;
  display: flex;
  max-width: 400px;
  flex-direction: row-reverse;
}

.messageImg {
  height: 50px;
  width: 50px;
}

.messageCardImgContainer {
  margin-left: 41px;
  bottom: 5px;
  height: 60px;
  width: 60px;
  border: 5px solid rgba(255, 255, 255, 0.9);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 10;
}

.messageCardImgContainerRight {
  right: 41px;
  bottom: 5px;
  height: 60px;
  width: 60px;
  border: 5px solid rgba(255, 255, 255, 0.9);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 10;
}

.messageCardContent {
  border: 1px solid rgba(255, 255, 255, 0.50);
  display: flex;
  flex: 1;
  margin-left: 15px;

  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  flex-direction: column;
  z-index: 2;
}

.messageCardContentRight {
  border: 1px solid rgba(255, 255, 255, 0.50);
  display: flex;
  flex: 1;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  flex-direction: column;
  z-index: 2;
}

.messageHeaderInfo {
  margin-left: 36px;
  border-bottom: 1px solid #ddd;
  color: rgba(255, 255, 255, 0.50);
  font-size: 13px;
  line-height: 20px;
  display: flex;
  justify-content: flex-end;
}

.messageHeaderInfoRight {
  padding: 2px 5px;
  border-bottom: 1px solid #ddd;
  color: rgba(255, 255, 255, 0.50);
  font-size: 13px;
  line-height: 20px;
  display: flex;
  justify-content: flex-start;
}

.messageHeaderInfo span {
  margin-right: 10px;
  padding: 1.5px 0px;
}

.message {
  margin-left: 36px;
  color: rgba(255, 255, 255, 0.50);
  font-size: 13px;
  line-height: 20px;
  max-width: 350px;
  overflow: hidden;
  inline-size: 350px;
  text-overflow: ellipsis;
}

.messageRight {
  margin-right: 36px;
  color: rgba(255, 255, 255, 0.50);
  font-size: 13px;
  line-height: 20px;
  max-width: 350px;
  max-height: 30px;
  overflow: hidden;
  inline-size: 350px;
  padding: 2px 5px;
  text-overflow: ellipsis;
}

.sendTextInputContainer {
  margin: 10px;
  display: flex;
  flex-direction: row;
}

.sendTextInputContainer textarea {
  width: 91%;
  outline: 0;
  border: 0;
  resize: none;
  padding: 10px;
  background-color: #1A1A1A;
  height: 70px;
  color: rgba(255, 255, 255, 0.50);
}

.complaintTextInput {
  margin-top: 10px;
  width: 100%;
  outline: 0;
  border: 0;
  resize: none;
  padding: 10px;
  background-color: #1A1A1A;
  height: 70px;
  color: rgba(255, 255, 255, 0.50);
}

.sendButon {
  margin: 0px 5px;
  padding: 10px;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  background-color: #1A1A1A;
}

.detailsContainer {
  display: flex;
  flex-direction: row;
  flex: 1;
  border-radius: 0px 0px 7px 7px;
  max-height: 750px;
  padding: 10px;
  justify-content: center;
  background: #141414;
  overflow-x: auto;
}

.detailsContainer::-webkit-scrollbar {
  width: 0;
}

.detailsBody {
  max-height: 750px;
  overflow-y: scroll;
}

.detailsBody::-webkit-scrollbar {
  width: 0;
}

.detailsLeft {
  display: flex;
  flex: 1;
  padding: 10px;
  flex-direction: column;
}

.detailsRight {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 10px;
}

.detailsRight::-webkit-scrollbar {
  width: 0;
}

.detailsHeader {
  margin-top: 10px;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.detailsHeader h2 {
  color: rgba(255, 255, 255, 0.50);
  font-size: 29px;
}

.movieNotification {
  position: relative;
  left: 10px;
  cursor: pointer;
}

.movieInfoSummaryContainer {
  margin-top: 30px;
  margin-right: 10px;
  margin-bottom: 10px;
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.movieInfoSummary {
  margin-bottom: 10px;
  margin-right: 10px;
  min-width: 147px;
  padding: 10px 20px;
  border: 1px solid rgba(255, 255, 255, 0.50);
  color: rgba(255, 255, 255, 0.50);
  font-size: 13.5px;
  border-radius: 7px;
  text-align: center;
  cursor: pointer;
  flex: 1;
  text-overflow: ellipsis;
}

.movieSummary {
  margin-top: 10px;
  margin-right: 20px;
  color: rgba(255, 255, 255, 0.50);
  font-size: 14px;
  text-align: justify;
  line-height: 27px;
}

.detailsImagesContainer {
  margin-top: 30px;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.detailsVideoPlayerContainer {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  height: 300px;
  flex: 1;
  justify-content: center;
  align-items: center;
  background-color: red;
  padding: 10px;
}

.detailsImagesContainer img {
  width: 100%;
  height: 370px;
  border-radius: 7px;
}

.detailsEpidoesContainer {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.seasonsMusic {
  flex: 1;
  display: flex;
  background-color: yellow;
}

.detailsImagesListContainer {
  margin-top: 30px;
  /* margin-right: 65px;
  margin-left: 65px; */
  overflow-x: scroll;
  display: flex;
  /* justify-content: center;
  align-items: center; */
}

.detailsImagesListContainer::-webkit-scrollbar {
  width: 0;
}

.detailsImages {
  max-width: 550px;
  display: flex;

}

.detailsImagesListContainer img {
  height: 180px;
  width: 180px;
  border-radius: 7px;
  margin-right: 15px;
  opacity: .5;
  cursor: pointer;
}

.epidoseSeasons {
  border-radius: 7px;
  background-color: #1c1c1c;
  display: flex;
  flex: 2;
  margin-right: 10px;
  flex-direction: column;
}

.seasonsMusic {
  border-radius: 7px;
  background-color: #1c1c1c;
  display: flex;
}

.seasonMusicBody {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  flex: 1;
}

.seasonMusicBody::-webkit-scrollbar {
  width: 0;
}

.episodesBody {
  padding: 10px;
  align-content: flex-start;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  flex: 1;
  overflow-y: scroll;
  max-height: 200px;
  text-overflow: ellipsis;

}

.episodesBody::-webkit-scrollbar {
  width: 0;
}

.episode {
  height: 30px;
  background: rgba(217, 217, 217, 0.03);
  margin-bottom: 10px;
  border: 0.5px solid rgba(255, 255, 255, 0.25);
  border-radius: 7px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  letter-spacing: 1px;
  cursor: pointer;
  font-size: 12.5px;
  padding: 5px;
  color: rgba(255, 255, 255, 0.55);
}

.seasonsMusicContainer {

  flex-direction: column;
  max-height: 200px;

}

.musicContainerOverflowY {
  overflow-y: scroll;
  overflow-x: hidden;
}

.musicContainerOverflowY ::-webkit-scrollbar {
  width: 0 !important;
}


.episdeCardname {
  text-overflow: ellipsis;
  white-space: nowrap;

}

.episodeCardWith {
  width: 48.5% !important;
}

.seasonContainer {
  max-width: 400px;
  overflow-x: scroll;
  display: flex;
  flex-direction: row;
}

.seasonContainer::-webkit-scrollbar {
  width: 0;
}

.seasonButon {
  text-align: center;
  background-color: #282828;
  border-radius: 7px;
  font-size: 12px;
  padding: 5px;
  color: rgba(255, 255, 255, 0.50);
  letter-spacing: 1px;
  margin-right: 5px;
  cursor: pointer;
}

.discoverContainer {
  display: flex;
  flex-direction: row;
  max-height: 750px;
  overflow-y: scroll;
  background: #141414;
  padding: 5px 0px;
}

.discoverLeft {
  flex: .5;
  flex-direction: column;
  display: flex;
}

.discoverFanArt {
  display: flex;
  flex: 1;
  padding: 50px 20px;
  justify-content: center;
  align-items: center;
  background-color: #1A1A1A;
}

.discoverReview {
  display: flex;
  flex: 1;
  padding: 50px 20px;
  justify-content: center;
  align-items: center;
  background-color: #1A1A1A;
}

.discoverReview img {
  height: 200px;
  width: 200px;
}

.discoverReview img {
  height: 200px;
  width: 200px;
}

.discoverDivider {
  display: flex;
  justify-content: center;
  align-items: center;
}

.discoverDivider span {
  height: 2px;
  width: 200px;
  background-color: rgba(255, 255, 255, 0.50);
}

.discoverMiddle {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 10px;
  max-height: 700px;
  overflow-y: scroll;
}

.discoverMiddle::-webkit-scrollbar {
  width: 0;
}

.discoverRight {
  display: flex;
  flex: .5;
  flex-direction: column;
  padding: 10px;
}

.discoverContainer::-webkit-scrollbar {
  width: 0;
}

.fanArtContainer {
  margin-bottom: 20px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.50);
  border-left: 1px solid rgba(255, 255, 255, 0.50);
  border-right: 1px solid rgba(255, 255, 255, 0.50);
}

.fanArtContainerImg {
  width: 130px;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fanArtImg {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  width: 120px;
  border-radius: 7px;
}

.fanArtImg img {
  height: 100px;
}

.ImgDivider {
  height: 110px;
  width: 2px;
  background-color: rgba(255, 255, 255, 0.50);
}

.fanArtBody {
  align-items: flex-start;
  flex-direction: row;
  color: rgba(255, 255, 255, 0.50);
  font-size: 13px;
  padding-left: 10px;
  text-align: justify;
  height: 114px;
  max-height: 114px;
  overflow-y: scroll;
  display: flex;
  flex: 1;

}

.fanArtBody::-webkit-scrollbar {
  width: 0;
}

.fanArtRight {
  flex-direction: row;
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
}

.fanArtIconButons {
  cursor: pointer;
  display: flex;
  margin-bottom: 15px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fanArtDivider {
  margin-left: 15px;
}

.shareUserName {
  text-overflow: ellipsis;
  white-space: nowrap;
  display: flex;
  text-align: center;
  justify-content: center;
}

.shareUserName a {
  color: rgba(255, 255, 255, 0.50);
  font-size: 12x;
  font-weight: bold;
  letter-spacing: 0px;
}

.weekAnime {
  padding: 10px;
  background-color: #1A1A1A;
  border-radius: 7px;
}

.weekAnimeHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.weekAnimeHeader h3 {
  color: rgba(255, 255, 255, 0.75);
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.weekAnimeBody {
  padding: 10px;
  color: rgba(255, 255, 255, 0.75);
  letter-spacing: 1px;
  font-size: 13px;
  text-align: left;
}



.top100 {
  margin-top: 10px;
  padding: 10px;
  background-color: #1A1A1A;
  border-radius: 7px;
}

.top100Header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.top100Header h3 {
  color: rgba(255, 255, 255, 0.75);
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.top100Body {
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: scroll;
  max-height: 260px;
}

.top100Body::-webkit-scrollbar {
  width: 0;
}

.top100Card {
  display: flex;
  padding: 10px;
  flex: 1;
  background-color: #1C1C1C;
  flex-direction: row;
  margin-right: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.top100Img {
  display: flex;
  height: 53px;
  width: 43px;
}

.topBody {
  flex: 1;
  display: flex;
  flex-direction: column;
  color: rgba(255, 255, 255, 0.75);
  letter-spacing: 1px;
  justify-content: center;
  align-items: center;
  padding-right: 5px;
  border-right: 1px solid rgba(255, 255, 255, 0.15);
}

.topNumber {
  color: rgba(255, 255, 255, 0.75);
  letter-spacing: 1px;
  justify-content: center;
  align-items: center;
  display: flex;
  padding-left: 5px;
}

.topViewCount {
  text-align: center;
  font-size: 13px;

}

.discoverSearchContainer {
  display: flex;
}

.searchIcon {
  position: absolute;
  margin-left: 10px;
  margin-top: 6px;
}

.discoverSearchContainer input[type="text"] {
  background: #232323;
  border-radius: 7px 7px 0px 0px;
  outline: 0;
  border: 0;
  padding: 5px 30px;
  color: rgba(255, 255, 255, 0.50);
}

.dropdownMenu {
  position: absolute;
  background-color: #1c1c1c;
  width: 130px;
  margin-left: 10px;
  z-index: 20;
  padding: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.star {
  font-size: 20px;
}

.listButons {
  border: 0.5px solid rgba(255, 255, 255, 0.5);
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  color: rgba(255, 255, 255, 0.65);
  font-size: 13px;
  letter-spacing: 1px;
  margin-bottom: 10px;
  cursor: pointer;
}

.listButonsActive {
  background-color: rgba(255, 255, 255, 0.65);
  color: #1c1c1c;
}

.profileHeaderContainer {
  height: calc(20vh - 15px);
}

.profileHeader {
  height: 191px;
  background: url("http://localhost:3000/profileHeader.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.userImg {
  position: absolute;
  top: 60px;
}

.profileHeader .userImg img {
  height: 166px;
  width: 166px;
}

.profileContainer {
  height: calc(80vh + 15px);
  background-color: #161616;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.listHeader {
  display: flex;
  width: 44%;
  flex-direction: column;

}

.profileMiddle {
  display: flex;
  width: 12%;
  background-color: #131313;

}

.rosetteContainer {
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  width: 100%;
  background-color: #1A1A1A;
  overflow-x: scroll;
}

.rosetteContainer::-webkit-scrollbar {
  height: 0;
}

.profile {
  display: flex;
  width: 44%;
  flex-direction: column;
}

.rosette {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #424242;
  border-radius: 100%;
  height: 40px;
  width: 40px;
  margin-right: 10px;
}

.rosette img {
  height: 38px;
  width: 38px;
  cursor: pointer;
}

.listContainer, .statusContainer {
  display: flex;
  flex-direction: column;
}

.listHeaderTitle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.listHeaderTitle h1 {
  font-weight: 400;
  font-size: 60px;
  line-height: 81px;
  color: rgba(255, 255, 255, 0.4);
  letter-spacing: 1px;
}

.listBody {
  overflow-y: scroll;
  max-height: calc(60vh);
  padding: 10px 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.listBody::-webkit-scrollbar {
  width: 0;
}

.listCard {
  border-left: 2px solid #262626;
  background: #131313;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  max-height: 221px;
  bottom: 30px;
  display: flex;
  flex-direction: column;
}

.listCard2 {
  border-left: 2px solid #262626;
  background: #131313;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  bottom: 30px;
  display: flex;
  flex-direction: column;
}

.cardImage {
  cursor: pointer;
  height: 114px;
  width: 114px;
  margin-right: 10px;
  opacity: .4;
}

.topLeftBorder {
  width: 60%;
  background-color: #262626;
  height: 2px;
  position: relative;
}


.bottomBorder {
  height: 2px;
  background-color: #262626;
  width: 20%;
  margin-left: 80%;
  position: relative;
}

.rightBorder {
  height: 100px;
  background-color: #262626;
  width: 2px;
  margin-left: 100%;
  margin-top: -100px;
  position: relative;
}

.listOptions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sliderContainer {
  display: flex;
  flex-direction: row;
  padding: 20px;
  justify-content: space-between;
  align-content: flex-start;
}

.sliderLeft {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
}

.sliderImages {
  display: flex;
  overflow-x: scroll;
  flex-direction: row;
  flex: 1;
}

.fdirectionColumn {
  flex-direction: column;
}

.sliderImages::-webkit-scrollbar {
  height: 0;
}

.sliderRight {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
}

.listOptionsLeft {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

.listOptionsLeft svg:hover {
  color: #fff;
}

.topWatchBorder {
  width: 78%;
  display: flex;
  height: 40px;
  justify-content: flex-end;
  align-items: center;
  border-top: 2px solid #262626;
}

.addListButon {
  cursor: pointer;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.changeListButon {
  cursor: pointer;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.listOptionsRight {
  color: rgba(255, 255, 255, 0.35);
  padding-right: 10px;
  font-size: 20px;
}

.profileInfoContainer {
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  width: 100%;
  justify-content: space-between;
  background-color: #1A1A1A;
}

.profileInfo {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: rgba(255, 255, 255, 0.75);
  font-weight: 400;
  letter-spacing: 1px;
}

.profileOptions {
  display: flex;
  padding-right: 20px;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.optionsIcon {
  padding: 10px;
  color: rgba(255, 255, 255, 0.65);
  cursor: pointer;
}

.optionsIcon:hover {
  color: rgba(255, 255, 255);
  font-size: 20px;
}

.statusDateText {
  font-size: 16px;
}

.fanArtView {
  background-color: #111111;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  line-height: 32px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.35);
}

.reviewView {
  background-color: #111111;
  display: flex;
  flex: 1;
  padding: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.45);
  max-height: 140px;
  overflow-y: scroll;
}

.reviewView::-webkit-scrollbar {
  width: 0;
}

.addListContainer {
  margin: 20px;
}

.resultContainer {
  margin-top: 10px;
  max-height: 500px;
  overflow-y: scroll;
}

.resultContainer::-webkit-scrollbar {
  width: 0;
}

.resultCard {
  flex: 1;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #1a1a1a;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
}

.resultImg {
  height: 70px;
  width: 60px;
  opacity: .4;
}

.resultImg img {
  height: 100%;
  width: 100%;
}

.searchBody {
  margin-left: 10px;
  color: rgba(255, 255, 255, 0.5);
  display: flex;
  gap: 10px;
  flex: 1;
  flex-direction: column;
}

.categoriesList {
  display: flex;
  flex-direction: row;
  overflow-y: scroll;
  max-width: 580px;
}

.categoriesList::-webkit-scrollbar {
  width: 0;
}

.searchResultOpen {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.75);
  padding: 10px;
  cursor: pointer;
}

.categoriesList .category {
  font-size: 13px;
  margin-right: 10px;
  border-radius: 7px;
  padding: 5px 10px;
  border: 1px solid #424242;
}

.resultSeasonsContainer {
  margin-top: 10px;
  border-top: 1px solid #424242;
  background-color: #161616;
  padding: 10px;
  overflow-y: scroll;
  max-height: 300px;
}

.resultSeasonsContainer::-webkit-scrollbar {
  width: 0;
}

.checkBox {
  height: 20px;
  width: 20px;
  cursor: pointer;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #424242;
}

.resultEpisodeContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
}

.resultEpisodeCard {
  background-color: #1a1a1a;
  border-radius: 10px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;
}

.resultEpisodeCard a {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  margin-left: 10px;
}

.resultSeasonTitle {
  color: rgba(255, 255, 255, 0.4);
  line-height: 30px;
}

.deleteListContainer {
  display: flex;
  justify-content: center;
  margin-left: 15px;
  align-items: center;
  height: 40px;
  width: 40px;
  color: rgba(255, 255, 255, 0.50);
  border-radius: 7px;
  background-color: #1a1a1a;
}

.deleteListContainer:hover {
  cursor: pointer;
  color: #fff;
}

.p-Image {

  top: 167px;
  margin-left: 0px;
  color: #666666;
}

.file-upload {
  display: none;
}

.siteInfoModalContainer {
  height: 500px;
  overflow-y: scroll;
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.siteInfoModalContainer::-webkit-scrollbar {
  width: 0;
}

.siteInfoModalBody {
  display: flex;
  flex: 1;
}

.siteInfoModalFooter {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.siteInfoModalFooterButonContainer {
  display: flex;
  flex: 1;
  flex-direction: row;
  gap: 10px;
}

.footerNextBackContainer {
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.footerNextBackContainer:nth-child(1), .footerNextBackContainer:nth-child(2) {
  padding: 10px;
  color: rgba(255, 255, 255, 0.50);
}

.footerNextBackContainer div svg {
  cursor: pointer;
}

.footerNextBackContainer div svg:hover {
  color: #fff;
}

.siteInfoModalFooterButon {
  display: flex;
  flex: 1;
  padding: 5px 15px;
  justify-content: center;
  color: rgba(255, 255, 255, 0.75);
  font-size: 20px;
  background: #232323;
  filter: blur(1.5px);
  border-radius: 3px;
}

.announcementsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  row-gap: 30px;
  justify-content: space-between;
}

.announcementImg, .announcementBody {
  display: flex;
  flex: 1;
  margin-bottom: 20px;
  justify-content: flex-start;
  align-items: flex-end;
  color: rgba(255, 255, 255, 0.75);
}

.announcementBody {
  margin-top: -39px;
  padding: 5px 10px;
  text-align: justify;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 350px;
  font-size: 14px;

}

.about {
  display: flex;
  flex: 1;
  flex-direction: row;
  gap: 20px;
  justify-content: space-between;
}

.aboutContainer {
  background: #1C1C1C;
  border-radius: 7px;
  padding: 10px;
  width: 350px;
  height: 707px;
}

.contact {
  display: flex;
  flex: 1;
  justify-content: space-between;
  flex-direction: row;
}

.contactForm {
  display: flex;
  flex: 1;
  margin-right: 10px;
  flex-direction: column;
}

.contactSendButonContainer {
  display: flex;
  flex: .5;
}

.contactSendButon {
  font-size: 17px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.65);
  flex: 1;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.03);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 7px;
  outline: none;
}

.contactContainer {
  background: #1C1C1C;
  border-radius: 7px;
  padding: 10px;
  width: 350px;
  height: 707px;
  display: flex;
  flex-direction: column;
}

.contactContainer:nth-child(2) {
  align-items: center;
}

.contactSocialCard {
  height: 200px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 15px;
  flex-direction: column;
}

.contactSocialCard img {
  height: 100%;
  width: 100%;
}

.contactSocialCardDivider {
  border: 1px solid rgba(255, 255, 255, 0.65);
  height: 0px;
  width: 200px;
}

.aboutContainer:nth-child(1) {
  overflow-y: scroll;
  max-height: 710px;
  font-weight: 400;
  font-size: 17px;
  line-height: 27px;
  color: rgba(255, 255, 255, 0.75);
}

.aboutContainer:nth-child(2) {
  overflow-y: scroll;
  max-height: 710px;
}

.aboutSocialCard {
  flex: 1;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.aboutSocialCardBody {
  flex: 1;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.aboutSocialInfo {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  color: rgba(255, 255, 255, 0.75);
}

.aboutSocialCardDivider {
  width: 160px;
  height: 2px;
  margin-left: 75px;
  background: #fff;
  opacity: .5;
}

.rowDirection {
  width: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.rowDirection img {
  width: 25px;
  height: 25px;
}

.aboutContainer:nth-child(1)::-webkit-scrollbar, .aboutContainer:nth-child(2)::-webkit-scrollbar {
  width: 0;
}

.aboutContainerRoleText {
  font-size: 14px;
}

.footerButonActive {
  background: #282828;
  filter: inherit;
}

.announcementsCard {
  height: 200px;
  width: 350px;
  display: flex;
  background: #1C1C1C;
  border-radius: 7px;
  flex-direction: column;
}

.announcementsCard img {
  width: 100%;
  height: 100%;
}

.announcementTitleContainer {
  width: 330px;
  justify-content: space-between;
  position: relative;
  top: -45px;
  display: flex;
  margin-left: 10px;
  color: rgba(255, 255, 255, 0.75);
}

.announcementDateTitle {
  font-size: 13px;
}

.errorText {
  color: #ff000080;
  font-size: 14px;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.successText {
  color: #228c2290;
  font-size: 14px;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.errorBorder {
  border: 1px solid red;
}

.loadingScreen {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1a1a1a;
}



.favoriSelected {
  height: 37px;
  color: #757575;
  font-size: 14px;
  text-align: left;
}

.favoriSelectedCard {
  border-radius: 7px;
  padding: 10px;
  background: #1A1A1A;
  align-items: center;
  margin-bottom: 10px;
}

.favoriSelectedCard a {
  color: rgba(255, 255, 255, 0.5);
  font-size: 13px;
  margin-left: 10px;
}


@keyframes mangaTextAnimation {
  0% {
    top: 170px;
  }

  100% {
    top: -10%;

  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.loader {
  border-radius: 50%;
  border: 4px solid #424242;
  border-top: 4px solid #262626;
  width: 25px;
  height: 25px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

.loader2 {
  border-radius: 50%;
  border: 5px solid #424242;
  border-top: 5px solid #262626;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

.sendEmailCodeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.45);
  position: relative;
  right: 21px;
  bottom: 6px;
  background-color: #1e1e1e;
  padding: 10px 5px;
  height: 32px;
  cursor: pointer;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

.pr {
  padding-right: 30px;
}

.selectedFavoriAnimeButon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.45);
  position: relative;
  right: 21px;
  bottom: 6px;
  background-color: #1e1e1e;
  padding: 10px 5px;
  height: 32px;
  cursor: pointer;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  border: none;
}

.selectedFavoriContainer {
  max-width: 100px;
  overflow-x: scroll;
}

.selectedFavoriContainer::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.selectedAnimeCard {
  align-items: center;
  display: flex;
  flex-direction: row;
  background-color: #161616;
  flex: 1;
  padding: 5px;
  border-radius: 7px;
  color: rgba(255, 255, 255, 0.45);
  justify-content: space-evenly;
}

.selectedAnime-jc-ai {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
}

.h2 {
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.25);
}

.leftImage {
  float: left;
  width: 100px;
  margin-right: 10px;
  height: 130px !important;
}

.options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  align-items: flex-end;
}

.weekAnimeFooter {
  display: flex;
  color: rgba(255, 255, 255, 0.50);
  justify-content: space-between;
}

.deleteModalContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.75);
  line-height: 20px;
}

.aboutModalContainer {
  display: flex;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.75);
  line-height: 20px;
}

.aboutModalBody {
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.75);
  line-height: 20px;
  font-size: 13px;
  max-height: 300px;
  overflow-y: scroll;
}

.aboutModalBody::-webkit-scrollbar {
  width: 0;
}

.standartModalContainer {
  display: flex;
  color: rgba(255, 255, 255, 0.75);
  line-height: 20px;
}

.animeListContainer {
  max-height: 250px;
  overflow-y: scroll;
  ;
}

.animeListContainer::-webkit-scrollbar {
  width: 0;
}

.commentsContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;

}

.commentsBody {
  display: flex;
  height: 80%;
  padding: 10px;
  max-height: 600px;
  flex-direction: column;
  overflow-y: scroll;
}

.commentsBody::-webkit-scrollbar {
  width: 0;
}

.commentsText {
  height: 20%;
  padding: 10px;
}

.statussContainer {
  display: flex;
  flex: 1;
}

.commentsCard {
  height: 150px;
}

.commentsContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.headerSuffleButon {}

.commentUser {
  display: flex;
  font-size: 12px;
}

.discoverCommentContainer {
  max-height: 300px;
  overflow-y: scroll;
}

.discoverCommentContainer::-webkit-scrollbar {
  width: 0;
}

.discoverComment {
  margin-left: 22.3%;
  width: 70.7%;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #111111;
  display: flex;
  padding: 10px;
  font-weight: 400;
  flex-direction: column;
  font-size: 14px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.45);
  max-height: 140px;
}

.commentTextInput textarea {
  height: 85px !important;
}

@media screen and (max-width:1024px) {
  .rightMenuContainer {
    display: none;
  }

  .archiveMovieCoverImg {
    margin-right: 0px;
  }

  .pageContainer:nth-child(1) {
    min-height: calc(50vh);
  }

  .profileHeaderContainer {
    height: inherit !important;
  }

  .profileContainer {
    height: inherit !important;
    flex-direction: column-reverse;
  }

  .profile {
    width: 100% !important;
  }

  .profileMiddle {
    display: none !important;
  }

  .listHeader {
    width: 100%;
  }

  .homeBg {
    height: 50%;
  }

  .discoverLeft {
    flex-direction: row;
  }

  .discoverDivider {
    display: none;
  }

  .discoverContainer {
    flex-direction: column;
    max-height: inherit !important;
  }

  .archiveContainer {
    padding-bottom: 20px;
  }

  .discoverReview {
    height: 150px;
  }

  .discoverContainer img {
    height: 100px;
    width: 100px;
  }

  .fanArtBody img {
    max-height: 100%;
    min-height: 110px;
    width: 80px;
  }

  .discoverFanArt img {
    height: 100px;
    width: 100px;
  }

  .discoverFanArt {
    height: 150px;
  }

  .rightMenuContainer {
    display: none;
  }

  .discoverSearchContainer {
    display: none;
  }

  .headerSearchText {
    width: 100%;
  }

  .headerSuffleButon {
    display: none;
  }

  .menuButon {
    width: 100% !important;
  }

  .top100Card {
    width: 100%;
    flex: inherit;
  }

  .top100Img {
    height: 100%;
  }
}